body{
    background: #E9E8E8;
	padding: 100px;
	padding-top: 80px;
}

.fondo{
    background: #ffffff;
    -webkit-box-shadow: -1px 10px 62px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 62px 14px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 62px 14px rgba(0,0,0,0.75);
}

.header{
    background-image: url("./imagenes/Code.jpg");
    font-family: arial; 
    font-size: 100px; 
    font-weight: bold; 
    color: #E9E8E8; 
    padding: 40px;
	text-align: center;
}

.abody
{
    padding: 10px; 
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: arial; 
    font-size: 40px; 
    color: #585858;
    text-align: center;
    font-weight: bold; 
}

.footer
{
 color: #585858 ;
 font-size: 20px;
 font-family: arial; 
 text-align: center;
 font-weight: bold;
 padding-bottom: 10px;
}